﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadLibraryVideosByUser.aspx.cs" Inherits="Ikkos.UploadLibraryVideosByUser" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
   <input type="file" name="files" runat="server" /><br />
        <asp:Button ID="Button1" Text="click" runat="server" OnClick="Button1_Click" />
    </form>
</body>
</html>--%>